/* Import font family */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Lato", sans-serif;
  color: black;
}

/* General stylings */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #eff5f7;
}

input:focus {
  outline: none;
}

/* Styling for logo text */
.logo-color {
  color: #fe5c5c;
}

.page-logo {
  font-size: 32px;
  user-select: none;
}

/* Styling for page header and header layout */

.page-header {
  display: grid;
  grid-template-columns: 1fr minmax(450px, 900px) 1fr;
  grid-template-areas: "logo nav contact";
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 150px;
}

.left {
  grid-area: logo;
  justify-self: end;
  width: 200px;
}

/* Nav bar styling (middle section of the header) */
.nav-bar {
  grid-area: nav;
  justify-self: center;
  width: 450px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link::after {
  /* This is the red bar that shows when hovering nav links */
  content: "";
  height: 4px;
  width: 25px;
  background-color: #fe5c5c;
  border-radius: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 2px;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
}

.nav-link {
  text-align: center;
  position: relative;
  padding: 15px;
  font-weight: 700;
}

.hover-link {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.nav-link::after {
  opacity: 0;
}

.hover-link:hover {
  opacity: 1;
}

.nav-link:hover::after {
  opacity: 1;
  animation: navhover 0.25s linear;
}

@keyframes navhover {
  /* Animation to show the red bar */
  0% {
    width: 0;
  }
  100% {
    width: 25px;
  }
}

/* Right side styling (right section of the header, search and login buttons) */

.right {
  grid-area: contact;
  justify-self: start;
  display: flex;
}

.right:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;
  height: 50px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-icon {
  font-size: 20px;
  opacity: 0.5;
}

.login {
  text-align: center;
  padding: 12px 0;
  background-color: white;
  height: 50px;
  width: 125px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login > p {
  font-weight: 700;
  font-size: 18px;
}

/* Main section layout for both main page and side pages */
.main-container {
  display: grid;
  grid-template-rows: 450px repeat(3, 350px) 600px;
}

.main {
  display: grid;
  justify-content: center;
  grid-template-rows: minmax(400px, 1fr);
  margin-bottom: 50px;
}

/* Search bar styling for search page */

.search-bar {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 75px;
  margin: 50px 0;
}

#search-input {
  width: 1000px;
  height: inherit;
  padding: 0 30px;
  font-size: 26px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Cards styling for results in search page */
.card {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 25px;
  width: 1000px;
  height: 250px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-img {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-radius: 10px;
}

.text-card {
  padding: 0 20px;
}

.text-card > h2 {
  margin-bottom: 15px;
}

/* Page footer styling */
.page-footer {
  background-color: #2e2e2e;
  height: 650px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-grid {
  display: grid;
  grid-template-rows: 100px 150px 100px 50px;
  gap: 50px;
  grid-template-areas:
    "f-logo"
    "links"
    "social"
    "copy";
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: f-logo;
}

.footer-logo {
  color: white;
}

.f-logo {
  font-size: 40px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: links;
  width: 275px;
}

/* .footer-links a:hover {
  text-decoration: underline;
} */
.footer-links > div {
  display: flex;
  flex-direction: column;
}

.social-media-box {
  grid-area: social;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media-box > p,
.copyright > p,
.footer-links a {
  font-size: 20px;
  color: white;
}

.social-media-box > p,
.footer-links a {
  margin-bottom: 25px;
}
.social-media-box > p {
  font-weight: 700;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.fa-brands {
  color: white;
  font-size: 30px;
  opacity: 0.5;
  transition: opacity 0.15s linear;
}

.fa-brands:hover {
  cursor: pointer;
  opacity: 1;
}

.copyright {
  grid-area: copy;
}

.copyright > p {
  text-align: center;
}
