/* Import font family */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Lato", sans-serif;
  color: black;
}

/* General stylings */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #eff5f7;
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

/* Styling for logo text */
.logo-color {
  color: #fe5c5c;
}

.page-logo {
  font-size: 32px;
  user-select: none;
}

/* Styling for page header and header layout */

.page-header {
  display: grid;
  grid-template-columns: 1fr minmax(450px, 900px) 1fr;
  grid-template-areas: "logo nav contact";
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 150px;
}

.left {
  grid-area: logo;
  justify-self: end;
  width: 200px;
}

/* Nav bar styling (middle section of the header) */
.nav-bar {
  grid-area: nav;
  justify-self: center;
  width: 450px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link::after {
  /* This is the red bar that shows when hovering nav links */
  content: "";
  height: 4px;
  width: 25px;
  background-color: #fe5c5c;
  border-radius: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 3px;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
}

.nav-link {
  text-align: center;
  position: relative;
  padding: 15px;
  font-weight: 700;
}

.hover-link {
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}

.nav-link::after {
  opacity: 0;
}

.hover-link:hover {
  opacity: 1;
}

.nav-link:hover::after {
  opacity: 1;
  animation: navhover 0.25s linear;
}

.active-page:hover {
  cursor: pointer;
}
@keyframes navhover {
  /* Animation to show the red bar */
  0% {
    width: 0;
  }
  100% {
    width: 25px;
  }
}

/* Right side styling (right section of the header, search and login buttons) */

.right {
  grid-area: contact;
  justify-self: start;
  display: flex;
}

.right:hover {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;
  height: 50px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-icon {
  font-size: 20px;
  opacity: 0.5;
}

.login {
  text-align: center;
  padding: 12px 0;
  background-color: white;
  height: 50px;
  width: 125px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login > p {
  font-weight: 700;
  font-size: 18px;
}

/* Main section layout for both main page and side pages */
.main-container {
  display: grid;
  grid-template: repeat(2, 450px) 400px 250px 650px / minmax(650px, 100vw);
  gap: 30px;
}

.home-sections {
  width: 1125px;
  justify-self: center;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin-top: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
}

.arrow-buttons {
  width: 110px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.arrows {
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
}
.arrows:hover {
  cursor: pointer;
  background-color: #fe5c5c;
}

.arrows:hover .fa-angle-left,
.arrows:hover .fa-angle-right {
  color: white;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 16px;
  transition: color 0.25s ease-in-out;
}

.main {
  display: grid;
  justify-content: center;
  grid-template-rows: 175px minmax(400px, 1fr);
  margin-bottom: 50px;
  grid-template-areas:
    "searchbar"
    "results";
}

.main-new {
  display: grid;
  justify-content: center;
  grid-template: 1800px / minmax(650px, 100vw);
}

/* Home sections styling */
.top-airing-container,
.most-popular-container,
.upcoming-container {
  display: grid;
  grid-template: 400px / repeat(10, 200px);
  gap: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 35px 25px 0 25px;
}

.new-container {
  display: grid;
  grid-template: repeat(5, 300px) / repeat(5, 200px);
  gap: 40px 20px;
  padding: 35px 25px 0 25px;
}

.top-airing-container,
.most-popular-container {
  grid-template: 400px / repeat(10, 200px);
  gap: 20px;
}

.upcoming-container {
  grid-template: 350px / repeat(2, 500px);
  gap: 50px;
}

.top-airing-item,
.most-popular-item,
.upcoming-item {
  display: flex;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: transform 0.25s ease-in-out;
  background-position: center center;
}

.top-airing-item,
.most-popular-item {
  height: 300px;
  width: 200px;
}

.upcoming-item {
  width: 525px;
  height: 200px;
  background-color: white;
}

.up-image {
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.up-info {
  width: 350px;
  padding: 30px 25px 20px 25px;
}
.up-info > h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.up-info > p {
  margin-bottom: 20px;
}

.up-info > a {
  color: #f34646;
}

.up-info > a:hover {
  text-decoration: underline;
  color: #d14b4b;
}

.top-airing-item:hover,
.most-popular-item:hover,
.upcoming-item:hover {
  transform: scale(1.025) translateZ(0);
  cursor: pointer;
}

.ta-item-text,
.mp-item-text {
  width: inherit;
  height: 20%;
  background-color: rgba(64, 71, 96, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  align-self: flex-end;
  backdrop-filter: blur(4px);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

@keyframes showReadmore {
  0% {
    height: 20%;
  }
  25% {
    height: 20%;
  }
  50% {
    height: 40%;
  }
  75% {
    height: 60%;
  }
  100% {
    height: 100%;
  }
}

.top-airing-item:hover > .ta-item-text,
.most-popular-item:hover > .mp-item-text {
  opacity: 1;
}
.ta-item-text > h4,
.ta-item-text > p,
.mp-item-text > h4,
.mp-item-text > p {
  color: white;
  user-select: none;
}

.ta-item-text > h4,
.mp-item-text > h4 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 2px;
}

.ta-item-text > p,
.mp-item-text > p {
  font-size: 14px;
  user-select: none;
}

.view-more-news {
  color: #fe5c5c;
  font-size: 16px;
}

.view-more-news:hover {
  text-decoration: underline;
  color: #d14b4b;
}

.go-to-calculator {
  position: relative;
  height: 100%;
  background-image: url("./imagenes/wano-kuni.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -150px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.go-to-calculator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 65%;
  z-index: 1;
}

.go-to-calc-txt,
.go-to-calc-btn {
  height: 100%;
  display: flex;
  position: relative;
  z-index: 2;
}

.go-to-calc-txt {
  align-items: center;
}
.go-to-calc-txt > h1 {
  font-size: 40px;
  width: 750px;
  color: white;
  padding-left: 25px;
}

.go-to-calc-btn {
  align-items: flex-end;
  justify-content: center;
  width: 325px;
}

.go-to-calc-btn > a {
  color: white;
  padding: 15px 20px;
  background-color: #f34646;
  border-radius: 50px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: background-color 0.25s ease-in-out;
}

.go-to-calc-btn > img {
  position: absolute;
  transform: scale(0.25);
  bottom: -130px;
  left: -80px;
  z-index: -2;
}

.go-to-calc-btn > a:hover {
  background-color: rgb(189, 67, 67);
}
/* Search bar styling for search page */

.anime-container {
  grid-area: results;
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(autofill, 300px);
  gap: 20px;
}

.search-bar {
  grid-area: searchbar;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 75px;
  margin: 50px 0;
}

#search-input {
  width: 1000px;
  height: inherit;
  padding: 0 30px;
  font-size: 26px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Cards styling for results in search page */
.card {
  background-color: white;
  display: flex;
  width: 1000px;
  height: 300px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-img {
  width: 200px;
  height: inherit;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.anime-info {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0 20px 0;
}

.text-card {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 20px;
  width: 750px;
}

.text-card > h2 {
  margin-bottom: 15px;
}

.read-more {
  margin-top: 10px;
  background-color: transparent;
  color: #fe5c5c;
  width: 100px;
  text-align: left;
}

.read-more:hover {
  cursor: pointer;
}

.no-results {
  font-size: 40px;
  opacity: 0.5;
  margin-top: 150px;
}

/* Schedule */

.weekly-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 550px;
  padding: 0 25px;
}
.anime-banner {
  height: 450px;
  width: 150px;
  background-image: url("./imagenes/anime-mix.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}
.days-table {
  width: 900px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  border-collapse: collapse;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.table-head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.table-head > tr {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7, 120px);
}

.day-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-cell {
  background-color: #f5f5f5;
  border-radius: 15px;
  height: 50px;
  width: 820px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.day-button {
  background-color: #dcdcdc;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  height: 50px;
  width: 100px;
}

.day-button:hover {
  background-color: darkgray;
}

/* Calculator */

.calculator-container {
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.calc-top {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 400px;
  padding: 30px;
  border-radius: 20px;
}

.calc-top > h4 {
  align-self: flex-start;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 700;
}

.calc-input {
  border: none;
  background-color: white;
  color: #2e2e2e;
  font-weight: 400;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 20px;
}

.results-container {
  border: none;
  background-color: #f5f5f5;
  color: #2e2e2e;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.results-container > h4 {
  opacity: 0.5;
  font-weight: 400;
}

.results {
  font-weight: 700;
}

.calc-bottom {
  height: 100px;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculate-results {
  width: 150px;
  height: 50px;
  background-color: #f34646;
  color: white;
  border-radius: 50px;
  font-weight: 700;
  font-size: 18px;
  transition: background-color 0.25s ease-in-out;
}

.calculate-results:hover {
  cursor: pointer;
  background-color: #d14b4b;
}

/* Contact */

.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 650px;
  width: 1000px;
}

#need-help {
  font-size: 48px;
  width: 450px;
  margin-bottom: 25px;
}

#get-in-touch {
  font-size: 32px;
  opacity: 0.7;
}
.contact-form {
  display: grid;
  grid-template-rows: repeat(2, 75px) 150px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.text-input {
  font-size: 20px;
  color: black;
  border-radius: 15px;
  width: 400px;
  height: 75px;
  padding: 0 20px;
  margin: 0 5px;
}

.text-input:focus {
  outline: none;
}

.text-message {
  margin: 20px 5px;
  color: black;
  border-radius: 15px;
  width: 400px;
  height: 150px;
  resize: none;
  padding: 20px;
  font-size: 20px;
}

.text-message:focus {
  outline: none;
}

.submit-btn {
  width: 200px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50px;
  justify-self: center;
  background-color: #f34646;
  color: white;
  transition: background-color 0.25s ease-in-out;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #d14b4b;
}

/* Page footer styling */
.page-footer {
  background-color: #2e2e2e;
  height: 650px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-grid {
  display: grid;
  grid-template-rows: 100px 150px 100px 50px;
  gap: 50px;
  grid-template-areas:
    "f-logo"
    "links"
    "social"
    "copy";
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: f-logo;
}

.footer-logo {
  color: white;
}

.f-logo {
  font-size: 40px;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: links;
  width: 275px;
}

.footer-links > div {
  display: flex;
  flex-direction: column;
}

.social-media-box {
  grid-area: social;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media-box > p,
.copyright > p,
.footer-links a {
  font-size: 20px;
  color: white;
}

.social-media-box > p,
.footer-links a {
  margin-bottom: 25px;
}
.social-media-box > p {
  font-weight: 700;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.fa-brands {
  color: white;
  font-size: 30px;
  opacity: 0.5;
  transition: opacity 0.15s linear;
}

.fa-brands:hover {
  cursor: pointer;
  opacity: 1;
}

.copyright {
  grid-area: copy;
}

.copyright > p {
  text-align: center;
}
